<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Dashboard</h2>
    <p>ID: <b><%= user.id %></b></p>
    <p>Name: <b><%= user.username %></b></p>
    <p>Email: <b><%= user.email %></b></p>
</body>
</html>